<h1>
  Actor #<%= @act.id %> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_actor/<%= @act.id %>" class="btn btn-block btn-outline-secondary">
  Delete actor
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
   <%= @act.name %>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @act.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @act.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @act.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @act.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= @act.updated_at %>
  </dd>
</dl>

<hr>

<h2>Filmography</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Year
    </th>

    <th>
      Director
    </th>

    <th>
      Character name
    </th>

    <th>
    </th>
  </tr>

<% Character.all.where({:actor_id => @act.id}).each do |a_char| %>
  <tr>

    <td>
      <%= Movie.where({:id => a_char.movie_id}).at(0).title %>
    </td>

    <td>
      <%= Movie.where({:id => a_char.movie_id}).at(0).year %>
    </td>

    <td>
      <%= Director.where({:id => Movie.where({ :id => a_char.movie_id}).at(0).director_id}).at(0).name %>
    </td>

     <td>
      <%= a_char.name %>
    </td>
    <td>
      <a href="/movies/<%= a_char.movie_id %>">
        Show details
      </a>
    </td>
  </tr>

<% end %>